.cookiesBar{
    position: fixed;
    bottom: -40px;
    width: 96%;
    padding: 10px 2%;
    height: fit-content;
    /* display: flex; */
    display: none;
    background-color: white;
    z-index: 8;
    -webkit-box-shadow: -2px -1px 1px 3px rgba(0,0,0,0.07); 
    box-shadow: -2px -1px 1px 3px rgba(0,0,0,0.07);
    transition: all 2s ease 0s;
}
.cookiesBar img{
    height: 50px;
    width: 50px;
}
.cookiesBar span{
    margin-left: 2%;
    margin-right: 2%;
}
.cookiesBar span a{
    color:#aaa;
}
.cookiesBar span a:hover{
    color:#666;
    border-bottom: 1px solid #999;
}
.cookiesBar div{
    align-self: center;
    width: fit-content;
    height: fit-content;
    background-color: #212121;
    border-radius: 40px;
    border: 2px solid #212121;
    color: #fff;
    padding: 10px 20px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease 0s;
}
.cookiesBar div:hover{
    background-color: #fff;
    color:#212121;
}
@media screen and (max-width:500px)
{
    .cookiesBar{
        flex-direction: column;
        padding-top: 30px;
    }
    .cookiesBar img{
        margin-bottom: 20px;
        align-self: center;
    }
    .cookiesBar>span{
        line-height: 1.5;
        margin-bottom: 20px;
    }
}