body{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
/*header*/
header{
  position: relative;
  width: 90vw;
  height: 100px;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5vw;
  background-color: #212121;
  z-index: 10;
}
/* Header simulator */
header .headerSimulator{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
header .headerSimulator .holder{
  margin-top: 32px;
  margin-right: 25px;
  width: 100%;
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
header li,a,button{
font-family: courier,arial,helvetica;
color: #d1d4d5;
font-size: 17px;
text-decoration: none;
}
.logo{
  cursor: pointer;
  height: 60px;
  width: 60px;
}
.LogoName{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.LogoName span{
  white-space: nowrap;
  font-size: 35px;
}
.navLinks{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*#region HamburgerIcon */

.Ham{
  position: relative;
  margin-left: 10px;
  flex-direction:column;
  width:40px;
  cursor:pointer;
  z-index: 3;
  display: flex;
}

.Ham span{
  background: #fff;
  border-radius:10px;
  height:4px;
  margin: 3px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


.Ham span:nth-of-type(1){
  width:50%;
  
}

.Ham span:nth-of-type(2){
  width:100%;
}


.Ham span:nth-of-type(3){
  width:75%;
 
}


.Ham input[type="checkbox"]{
  display:none;
}


.Ham input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(5px,0px)
}


.Ham input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


.Ham input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(17px,-3px) rotatez(45deg);

}

/*#endRegion*/

.navLinks >li{
  display: inline-block;
  padding: 15px 20px;
  cursor: pointer;
}
.navLinks >li:hover >a{
  border-bottom: 1px solid #aaa;
}
.navLinks li a{
  transition: all 0.3s ease 0s;
  padding:25px 0px;
}

.navLinks .Browse .BrowseText{
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.navLinks .Browse{
  position: relative;
}
/* Browse DropDown*/
#hoverBrowse{
  
  display: block;
}
#buttonBrowse{
  display: none;
}
.DropDown{
    cursor: pointer;
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    padding: 0;
    display: none;
    width: fit-content;
}
.DropDown .DropDownContent{
  position: relative;
  color:#b8b8b8;
  display: inline-block;
  background: #212121;
  box-sizing: border-box;
  padding: 10px 25px;
  float: left;
    clear: left;
  width: fit-content;
}
.DropDown .DropDownEnd{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius:10px;
}
.navLinks .Browse:hover> .BrowseText{
  border-bottom: 1px solid #93e6f1;
  color:#93e6f1;
}
.navLinks .DropDown .DropDownContent:hover{
  background-color:#4d4d4d;
}
.navLinks .Browse:hover .DropDown{
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0px;
  display: block;
}
.navLinks .Browse:hover .DropDownContent:nth-child(1){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: -200ms;
}
.navLinks .Browse:hover .DropDownContent:nth-child(2){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: 0ms;
}
@keyframes dropDownAnimation {
  0%{
    opacity: 0;
    transform:translateY(-60px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Drop Down Detail(submenu)*/
.navLinks .DropDown .DropDownContainer{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left:70%;
  top:0;
  display: none;
}
.navLinks .DropDown .DropDownContainer li{
  display: inline-block;
  padding: 15px 20px;
}
.navLinks .DropDown .DropDownContainer .Holder{
 display: flex;
 justify-content: flex-start;
 align-items:left;
 flex-direction: column;
 background-color: #212121;
 padding:10px 10px 10px 10px;
 border-radius: 10px;
}
.navLinks .DropDown .DropDownContainer .Holder a{
  margin: 10px;
  padding:0;
  font-size: 14px;
  font-weight: 100;
  padding: 3px;
}
.navLinks .DropDown .DropDownContainer .Holder h3{
  letter-spacing:2px;
  font-size: 25px;
padding:0 15px;
}
.navLinks .DropDown .DropDownContainer .Holder a:hover{
  color:#666;
}
/*First Holder*/
.navLinks .Browse .DropDownDetail:hover{
    background-color: #4d4d4d;
}
.navLinks .Browse .DropDownDetail{
  background-color: #212121;
    color:#b8b8b8;
    width: 100px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.navLinks .Browse .DropDownDetail span{
font-weight: 300;
font-size: 14px;
text-align: center;
}
/*Display submenu in Dropdown content*/
.navLinks .DropDown .DropDownContent:hover .DropDownContainer{
  display: block;
}
.navLinks .Browse:hover .DropDownDetail:nth-child(1){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: -200ms;
}
.navLinks .Browse:hover .DropDownDetail:nth-child(2){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: 0ms;
}
.navLinks .Browse:hover .DropDownDetail:nth-child(3){
  animation: dropDownAnimation 300ms ease-in-out forwards;
  animation-delay: 200ms;
}
/*Contact & animation*/
header button{
  padding: 9px 25px;
  background-color: #313131;
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all .3s ease 0s;
}
header button:hover{
  padding: 9px 40px;
  background-color: #2a2a29;
  color:#e9ebeb;
}
/*my Account& animation*/
.myAcount img{
  margin-left: 15px;
  width: 27px;
  height: 27px;
  padding: 3px;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  background-color: #d1d4d5;
}
.myAcount img:hover{
  width: 35px;
  height: 35px;
  padding: 10px  ;
background-color: #43484d;
}
/*footer*/
footer{
  margin-top: 20px;
  width: 100%;
}
footer .UpperBar{
  margin-top:40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 15% 90px 15%;
  background-color: #2a2a2a;
}
footer .UpperBar div{
  height: 300px;
}
footer .logoText p{
  position: relative;
  letter-spacing: 1.5px;
  color: #e1ebba;
  top: -20px;
  font-size: 12px;
}
footer .UpperBar div h1{
  text-align: center;
  font-family: courier,arial,helvetica;
  color: #686868;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}
footer .UpperBar li{
    font-family: courier,arial,helvetica;
      font-size: 17px;
  color: #eee;
  list-style: none;
  line-height: 1.75;
}
footer div .logoText{
  font-size: 45px;
    font-family: courier,arial,helvetica;
  display: inline-block;
  color: #d1d4d5;
}
footer .Language .language{
  margin-left: 4px;
  font-family: courier,arial,helvetica;
  color: #eee;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  height: 20px;
  width: 100px;
  background-color: inherit;
}
footer .LowerBar{

  background-image: linear-gradient(to right, #3a3a3a , #1b1b1b);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 15%;
  color:#eee;
  -webkit-box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
  box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
}
footer .LowerBar .CopyRight{
font-size: 12px;
letter-spacing: 2.3px;
font-family: 'Enriqueta', arial, serif;
}
footer a:hover li{
  border-bottom: 1px solid #eee;
  color:#777;
}
footer .LowerBar .Policy{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .LowerBar .Policy li{
    font-family: courier,arial,helvetica;
    font-size: 17px;
list-style: none;
padding:15px 20px;
}
@media screen and (min-width:1050px){
  .navLinks{
    display: flex;
  }
}
@media screen and (max-width:1050px){
  header{
    flex-direction: column;
  }
  .LogoName{

    margin-top:15px;
  }

  .navLinks{
    top: 79px;
    position:fixed;
    list-style: none;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #393939;
    width: 100%;
    padding:0;
    padding-bottom: 25px;
    transition:all 300ms ease 0s;
    z-index: 1;
  }
  .navLinks>li{
    padding-left:0;
    padding-right:0;
    display: block;
    width: 100%;
    text-align: center;
    align-items: center;
    transition:all 300ms ease 0s;
  }
  .navLinks>li:hover{
    background-color: #454545;
  }
  /* Disable account icon */
  .myAcount{
    display: none;
  }
  /* Enable ham and account icon in top right */
  header .headerSimulator{
    width: 85vw;
    height: 100%;
    display: block;
    position:absolute;
  }

  header .top_right{
    display: block;
  }
  /* Change contact button */
  header button{
    padding:9px 10px;
    background-color: inherit;
    border:2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease 0s;
  }
  header button:hover{
    padding: 9px 10px;
    background-color: inherit;
    border:2px solid #777;
    color:#777;
  }
  /* Browse Setting */
  /* Disable */
  #hoverBrowse{
    display: none;
  }

  #buttonBrowse{
    cursor: pointer;
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 0;
  }
  #buttonBrowse .BrowseText
  {
    height: inherit;
    width: inherit;

  }
  #buttonBrowse .BrowseText div{
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  #buttonBrowse:hover> .BrowseText{
    border-bottom: 1px solid #93e6f1;
    color:#93e6f1;
  }
 #buttonBrowse input[type="checkbox"]{
    display: none;
  }

  #buttonBrowse>#DropDown[type="checkbox"]:checked~ .DropDown{
    display: block;
  }
  .DropDown{
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-bottom: 0;
}
  .DropDown .DropDownContent{
    width: 100%;
    position: relative;
    color:#b8b8b8;
    display: inline-block;
    background: #212121;
   padding: 0px 0px;
   cursor: pointer;
}
.DropDown .DropDownEnd{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius:0px;
}
.DropDown .DropDownLabel div{
  width: 100%;
  height: 30px;
  align-items: center;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 15px;
}
.navLinks .DropDown .DropDownContent:hover{
  background-color:#292929;
}


/* Drop Down Detail(submenu)*/
#buttonBrowse .DropDownContent #LettersDropDown[type="checkbox"]:checked~ .DropDownContainer{
  display: flex;
}
.navLinks .DropDown .DropDownContainer{
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom:0;
  margin-top: 10px;
  background-color:#1c1c1c;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  display: none;
}

.navLinks .DropDown .DropDownContainer li{
  display: inline-block;
  padding: 15px 20px;
}
.navLinks .DropDown .DropDownContainer .Holder{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
 display: block;
 justify-content: flex-start;
 align-items:left;
 flex-direction: column;
 background-color: #1c1c1c;
 padding:20px 20px;
 border-radius: 0;
}
.navLinks .DropDown .DropDownContainer .Holder a{
  margin: 10px;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
}
.navLinks .DropDown .DropDownContainer .Holder h3{
  letter-spacing:2px;
  font-size: 25px;
  padding:0 15px;
}
.navLinks .DropDown .DropDownContainer .Holder a:hover{
  color:#1c83e3;
}
/*First Holder*/
#buttonBrowse .DropDownContent #CateDropDown[type="checkbox"]:checked~ .DropDownContainer{
  display: flex;
}

.navLinks #buttonBrowse .DropDownDetail{
    color:#b8b8b8;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    z-index: 5;
    cursor: pointer;
}
.navLinks #buttonBrowse .DropDownContainer .DropDownDetail:hover {
  background-color: #1f1f1f;
  
}
.navLinks #buttonBrowse .DropDownContainer .DropDownDetail:hover span{
  color:#00c2ff;
}
/*Display submenu in Dropdown content*/
.navLinks .DropDown .DropDownContent:hover .DropDownContainer{
  display: none;
}
/* FOOTER */
footer .UpperBar{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 15% 90px 15%;
  background-color: #2a2a2a;
}
footer .UpperBar div{
  height: fit-content;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
}
@media screen and (max-width:480px){
  header{
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .LogoName{
    position:absolute;
    left:20px;
  }
  .LogoName span{
    font-size: 20px;
   }

}
@media screen and (max-width:856px)
{
  footer .LowerBar .CopyRight{
    margin-top: 20px;
  }
}