html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}
.content{
    margin-top: 150px;

}
/*Starter   */

.content .Starter{
    position: relative;
    text-align: center;
    line-height: 0;
}
.content .Starter h3{
    font-size: 60px;
}
.content .Starter p{
    color:#777;
}
.content .Starter::after{
    content: '';
position: absolute;
height: 5px;
width: 50px;
background-image: linear-gradient(to right,#777,#000);
    border-radius: 30px;
    bottom:-30px;
    margin-left: auto;
    margin-right: auto;
    transform:translateX(-25px);
}
/* Letter Box */
.content .container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.content .container .LetterBox{
    height: 150px;
    margin-top: 40px;
    position: relative;
    justify-content: left;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.content .container .LetterBox::after
{
    position: absolute;
    content: '';
    height: 2px;
    width: 90%;
    left: 0%;
    bottom:-15px;
    background-image: linear-gradient(to right,#ccc,#fff);
}
.content .container .LetterBox>span{
position: absolute;
top:-120px
}
.content .container .LetterBox> h3{
    margin-left: 40px;
    font-size: 40px;
    color:#777;
    font-weight: 200;
    font-family: 'Rubik';
    margin-right: 30px;
    position: relative;
}
.content .container .LetterBox> h3::after{
    font-family: 'Courier New', Courier, monospace;
    content: '›';
    position: absolute;
    font-weight: 600;
    bottom:-10px;
    font-size: 20px;
    left:-10px;
    color:#4daee7;
}
.content .container .LetterBox .box{
    position: relative;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 5px 20px;
    -webkit-box-shadow: 3px 4px 15px 1px rgba(0,0,0,0.37); 
    box-shadow: 3px 4px 15px 1px rgba(0,0,0,0.37);
    cursor: pointer;
}
.content .container .LetterBox .box img{
width: 150px;
height: 150px;
}
.content .container .LetterBox .box .information{
    justify-content: left;
}
.content .container .LetterBox .box .information h4{
    font-weight: 200;
    color: #777;
    font-style: italic;
    font-size:16px;
}
/* HoverVFX */
.container .box .HoverEffect{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 123, 255, 0.5);
    transition: all 300ms ease-in-out 0s;
    text-align: center;
    justify-content: center;
    align-items: center;
  display: flex;
  opacity: 0;
  }
  .container .box .HoverEffect a{
    text-decoration: none;
  }
  .container .box .HoverEffect .HoverButton{
  color: #000;
  font-weight: 300;
  border-radius: 50px;
  background-color: #fff;
  padding:20px 20px;
    transition: all 300ms ease-in-out 0s;
    opacity: 0;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  }
  .container .box:hover >.HoverEffect{
  opacity: 1;
  }
  .container .box:hover >.HoverEffect .HoverButton{
    opacity: 1;
  }
  .container .box .HoverEffect .HoverButton:hover{
    background-color: #109bef;
    color:#fff;
    padding:20px 30px;
  }
  @media screen and (max-width:500px){
    .content .container .LetterBox .box{
        margin-left: 20px;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 3px 10px;
    }
    .content .container .LetterBox .box img{
    width: 125px;
    height: 125px;
    }
    .content .container .LetterBox .box .information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 0;
    }
    .content .container .LetterBox .box .information h4{
        margin-top: -5px;
        font-weight: 200;
        color: #777;
        font-style: italic;
        font-size:14px;
    }
  }