body{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #dddddd;
  font-family: courier,arial,helvetica;

}
.background{
  position: absolute;
  background-color: #7b7a7c;
  height: 70vh;
  width: 100%;
  top: 0;
  z-index: -1;

}
.background div{
  position: relative;
     height: inherit;
}
.background div svg{
  position: absolute;
  bottom: -1px;
}
#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 90%;
  border-radius: 30px;
  -webkit-box-shadow: 4px 3px 11px 3px rgba(0,0,0,0.41);
box-shadow: 4px 3px 11px 3px rgba(0,0,0,0.41);
}

.productTile{
  margin-top: 5px;
  text-align:left;
  margin-left: 5%;
}

#headerCus{
  text-align:center;
}
#container .columns .mainDisplay{
  position: relative;
  width: 500px;
  height: 500px;
}
#container .columns .mainDisplay #backgroundImage{
  border-radius: 10px;
  width: inherit;
  height: inherit;
  /* Add the blur effect */
  filter: blur(6px);
  -webkit-filter: blur(6px) brightness(50%) sepia(50%);
}
#mainFeature{
position: absolute;
  object-fit:cover;
  cursor:pointer;
  border: 2px solid RGBA(255,255,255,.1);
  max-width: 400px;
  max-height: 400px;
  top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.gallery{
  object-fit:cover;
  max-width: 160px;
  max-height: 80px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 1px solid black;
}

.gallery:hover{
  opacity: 1.0;
}

.active{
  opacity: 1.0;
}

.columns{
  margin-top: 50px;
  width:500px;
  padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
}
.general{
  margin-left: 50px;
  margin-right: 50px;
}
.general .prices span::before{
  content: "$";
}
.general .prices{
display: flex;
justify-content: left;
}
.general .prices .originalPrice{
  color:#aaa;
  text-decoration: line-through;
  font-size: 15px;
  margin-right: 5px;
}
.general .prices .currentPrice{
  font-size: 18px;
  font-weight: 550;
  margin-left: 5px;
}
.proButt{
  background-color: black;
  color:white;
  text-align: center;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  padding: 5px 16px;
}

.proButt:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}

#inp{
  padding: 5px 16px;
}
