body{
  width: 100%;
padding: 0;
margin: 0;
background-color: #dddddd;
  font-family: courier,arial,helvetica;

}
.background{
  position: absolute;
  background-color: #7b7a7c;
  height: 70vh;
  width: 100%;
  top: 0;
  z-index: -1;
  transform: rotateZ(-35deg)translateX(-30%)translateY(-50vh);

}
