body{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #dddddd;
  font-family: courier,arial,helvetica;

}
.background{
  position: absolute;
  background-color: #7b7a7c;
  height: 70vh;
  width: 100%;
  top: 0;
  z-index: -1;
  transform: rotateZ(-35deg)translateX(-30%)translateY(-50vh);

}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:5px;
}

.productTile{
  margin-top: 5px;
  text-align:left;
  margin-left: 5%;
}

#headerCus{
  text-align:center;
}

#mainFeature{
  margin-top: 15%;
  object-fit:cover;
  cursor:pointer;
  border: 2px solid black;
  max-width: 610px;
  max-height: 800px;
  
}
.gallery{
  object-fit:cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
  border: 2px solid black;
}

.gallery:hover{
  opacity: 1.0;
}

.active{
  opacity: 1.0;
}

.columns{
  width:650px;
  padding: 10px
}

.proButt{
  background-color: black;
  color:white;
  text-align: center;
  transition-duration: 0.1s;
  cursor: pointer;
  display: inline-block;
  padding: 5px 16px;
}

.proButt:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}

#inp{
  padding: 5px 16px;
}
